<p class="text">How would you like to login ?</p>
<div class="teachLog">
  <button type="button" class="btn">
    <a href="/teacher/login">Teacher's Login</a>
  </button>

  <button type="button" class="btn">
    <a href="/student/login">Student's Login</a>
  </button>
</div>
